In [16]:
from pyspark.sql import SparkSession
from pyspark.conf import SparkConf

In [17]:
# https://spark.apache.org/docs/latest/api/python/pyspark.html#pyspark.SparkConf
config = SparkConf()
config.set("spark.driver.memory", "2g")
config.set("spark.executor.memory", "1g")

In [18]:
# https://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.SparkSession
spark = SparkSession.builder.config(conf=config).master("local").appName("Analyzing Real Estate Sales").getOrCreate()

In [4]:
spark

In [19]:
df = spark.read.format('csv').option("header", "true").load('../Real_Estate_Sales_2001-2017.csv')

In [7]:
df.printSchema()

root
 |-- ID: string (nullable = true)
 |-- SerialNumber: string (nullable = true)
 |-- ListYear: string (nullable = true)
 |-- DateRecorded: string (nullable = true)
 |-- Town: string (nullable = true)
 |-- Address: string (nullable = true)
 |-- AssessedValue: string (nullable = true)
 |-- SaleAmount: string (nullable = true)
 |-- SalesRatio: string (nullable = true)
 |-- PropertyType: string (nullable = true)
 |-- ResidentialType: string (nullable = true)
 |-- NonUseCode: string (nullable = true)
 |-- Remarks: string (nullable = true)

In [27]:
df.describe().show()

+-------+------------------+------------------+------------------+--------------------+---------+------------------+------------------+------------------+-----------------+--------------+---------------+-----------------+--------------------+
|summary|                ID|      SerialNumber|          ListYear|        DateRecorded|     Town|           Address|     AssessedValue|        SaleAmount|       SalesRatio|  PropertyType|ResidentialType|       NonUseCode|             Remarks|
+-------+------------------+------------------+------------------+--------------------+---------+------------------+------------------+------------------+-----------------+--------------+---------------+-----------------+--------------------+
|  count|            861597|            861597|            861597|              861589|   861597|            861594|            861292|            830804|           861596|        815904|         861596|           830867|              826698|
|   mean|          430799.0|138280.65832750115|2007.9295262170133|                null|     null|58308.489795918365| 266573.5430295417| 360835.4388932769|755.4543949100346|          null|           null|4.778324718317427|   2969.295486737059|
| stddev|248721.77427901086|2601596.6622722144|   5.2151756122739|                null|     null| 91450.02446717425|1645958.9742643659|2012686.8914640213|136995.8398458089|          null|           null|7.886109373939572|  30424.888677610717|
|    min|                 1|                 0|              2001|01/01/2002 12:00:...|  Andover|     WORTH AVE 113|                 0|                 0|                0|10 Mill Forest|     Apartments|                0|                    |
|    max|             99999|             99529|              2017|12/31/2015 12:00:...|Woodstock|parking space only|            999950|            999999|               NA|   Vacant Land|    Vacant Land|               NA|zoning changed fr...|
+-------+------------------+------------------+------------------+--------------------+---------+------------------+------------------+------------------+-----------------+--------------+---------------+-----------------+--------------------+

In [29]:
df.select("Town").describe().show()

+-------+---------+
|summary|     Town|
+-------+---------+
|  count|   861597|
|   mean|     null|
| stddev|     null|
|    min|  Andover|
|    max|Woodstock|
+-------+---------+

In [30]:
df.columns

['ID',
 'SerialNumber',
 'ListYear',
 'DateRecorded',
 'Town',
 'Address',
 'AssessedValue',
 'SaleAmount',
 'SalesRatio',
 'PropertyType',
 'ResidentialType',
 'NonUseCode',
 'Remarks']

In [31]:
df.explain()

== Physical Plan ==
*(1) FileScan csv [ID#257,SerialNumber#258,ListYear#259,DateRecorded#260,Town#261,Address#262,AssessedValue#263,SaleAmount#264,SalesRatio#265,PropertyType#266,ResidentialType#267,NonUseCode#268,Remarks#269] Batched: false, Format: CSV, Location: InMemoryFileIndex[file:/Users/pmacharl/git-projects/personal/github.com/spark_experiments/Real_Es..., PartitionFilters: [], PushedFilters: [], ReadSchema: struct<ID:string,SerialNumber:string,ListYear:string,DateRecorded:string,Town:string,Address:stri...

In [8]:
df.count()

861597

In [9]:
df.show()

+------+------------+--------+--------------------+----------+--------------------+-------------+----------+-----------------+------------+---------------+----------------+--------------------+
|    ID|SerialNumber|ListYear|        DateRecorded|      Town|             Address|AssessedValue|SaleAmount|       SalesRatio|PropertyType|ResidentialType|      NonUseCode|             Remarks|
+------+------------+--------+--------------------+----------+--------------------+-------------+----------+-----------------+------------+---------------+----------------+--------------------+
|815906|      170177|    2017|04/05/1999 12:00:...|New London|      293 PEQUOT AVE|       132440|    252500|            0.525|        null|     Two Family|            null|                null|
|     2|      900035|    2009|07/20/2010 12:00:...|   Andover|     1 DOGWOOD DRIVE|        55600|     99000|0.561616161616162| Vacant Land|             NA|              NA|                  NA|
|     3|       14011|    2014|01/14/2015 12:00:...|   Andover|     1 JUROVATY LANE|       153100|    190000|      0.805789474| Residential|  Single Family|              NA|                  NA|
|     4|       80009|    2008|01/21/2009 12:00:...|   Andover|         1 ROSE LANE|       116600|    138900|0.839452843772498| Residential|  Single Family|              NA|                  NA|
|     5|       15006|    2015|11/30/2015 12:00:...|   Andover|         1 ROSE LANE|       102900|     50000|            2.058| Residential|  Single Family|14 - Foreclosure|PROPERTY WAS OWNE...|
|     6|       20030|    2002|04/24/2003 12:00:...|   Andover|       10 BAUSOLA RD|        91800|    189900| 48.3412322274881| Residential|  Single Family|               0|                  NA|
|815907|      173165|    2017|08/01/2001 12:00:...|   Shelton|        28 SUNSET DR|       126980|    238000|            0.534|        null|  Single Family|            null|                null|
|     8|       30047|    2003|04/19/2004 12:00:...|   Andover|  10 CHESTER BRKS LN|        56600|     80000|            70.75| Vacant Land|             NA|               0|                  NA|
|     9|       40003|    2004|10/18/2004 12:00:...|   Andover|  10 CHESTER BRKS LN|       194100|    446639| 43.4579156768666| Residential|  Single Family|               7|                  NA|
|    10|       70005|    2007|11/19/2007 12:00:...|   Andover|10 CHESTER BROOKS LN|       313400|    425000|0.737411764705882| Residential|  Single Family|              NA|                  NA|
|    11|       40042|    2004|05/23/2005 12:00:...|   Andover|       10 DOGWOOD DR|       218700|    440000| 49.7045454545455| Residential|  Single Family|               7|                  NA|
|    12|       13021|    2013|06/16/2014 12:00:...|   Andover|  10 HICKORY HILL DR|       109400|    165000|            0.663| Residential|  Single Family|              NA|                  NA|
|    13|       40035|    2004|04/01/2005 12:00:...|   Andover|    10 HICKORY HL DR|        77900|    184000| 42.3369565217391| Residential|  Single Family|               0|                  NA|
|    14|       14044|    2014|09/28/2015 12:00:...|   Andover|   10 PINE RIDGE  DR|       108700|    128368|      0.846784245| Residential|  Single Family|              NA|                  NA|
|    15|       50027|    2005|03/16/2006 12:00:...|   Andover|     10 SHODDY ML RD|        84900|    215000| 39.4883720930233| Residential|  Single Family|               1|                  NA|
|    16|       30063|    2003|07/15/2004 12:00:...|   Andover|       101 GILEAD RD|       104000|    218000|             47.7| Residential|  Single Family|               0|                  NA|
|    17|       14035|    2014|08/10/2015 12:00:...|   Andover|        101 WALES RD|       164000|    230000|      0.713043478| Residential|  Single Family|              NA|                  NA|
|    18|      900008|    2009|12/14/2009 12:00:...|   Andover|      101 WALES ROAD|       186400|    248500| 0.75010060362173| Residential|  Single Family|              NA|                  NA|
|    19|       40650|    2004|08/18/2005 12:00:...|   Andover|       102 GILEAD RD|       111100|    279900| 39.6927474097892| Residential|  Single Family|               0|                  NA|
|    20|       30055|    2003|01/06/2004 12:00:...|   Andover|         104 WEST ST|        52300|    314867|            16.61| Residential|  Single Family|               7|                  NA|
+------+------------+--------+--------------------+----------+--------------------+-------------+----------+-----------------+------------+---------------+----------------+--------------------+
only showing top 20 rows

In [32]:
df.head(5) # OR df.take(5)

[Row(ID='815906', SerialNumber='170177', ListYear='2017', DateRecorded='04/05/1999 12:00:00 AM', Town='New London', Address='293 PEQUOT AVE', AssessedValue='132440', SaleAmount='252500', SalesRatio='0.525', PropertyType=None, ResidentialType='Two Family', NonUseCode=None, Remarks=None),
 Row(ID='2', SerialNumber='900035', ListYear='2009', DateRecorded='07/20/2010 12:00:00 AM', Town='Andover', Address='1 DOGWOOD DRIVE', AssessedValue='55600', SaleAmount='99000', SalesRatio='0.561616161616162', PropertyType='Vacant Land', ResidentialType='NA', NonUseCode='NA', Remarks='NA'),
 Row(ID='3', SerialNumber='14011', ListYear='2014', DateRecorded='01/14/2015 12:00:00 AM', Town='Andover', Address='1 JUROVATY LANE', AssessedValue='153100', SaleAmount='190000', SalesRatio='0.805789474', PropertyType='Residential', ResidentialType='Single Family', NonUseCode='NA', Remarks='NA'),
 Row(ID='4', SerialNumber='80009', ListYear='2008', DateRecorded='01/21/2009 12:00:00 AM', Town='Andover', Address='1 ROSE LANE', AssessedValue='116600', SaleAmount='138900', SalesRatio='0.839452843772498', PropertyType='Residential', ResidentialType='Single Family', NonUseCode='NA', Remarks='NA'),
 Row(ID='5', SerialNumber='15006', ListYear='2015', DateRecorded='11/30/2015 12:00:00 AM', Town='Andover', Address='1 ROSE LANE', AssessedValue='102900', SaleAmount='50000', SalesRatio='2.058', PropertyType='Residential', ResidentialType='Single Family', NonUseCode='14 - Foreclosure', Remarks='PROPERTY WAS OWNED BY THE BANK')]

In [22]:
df.select("Town").show()

+----------+
|      Town|
+----------+
|New London|
|   Andover|
|   Andover|
|   Andover|
|   Andover|
|   Andover|
|   Shelton|
|   Andover|
|   Andover|
|   Andover|
|   Andover|
|   Andover|
|   Andover|
|   Andover|
|   Andover|
|   Andover|
|   Andover|
|   Andover|
|   Andover|
|   Andover|
+----------+
only showing top 20 rows

In [10]:
df.limit(10).show()

+------+------------+--------+--------------------+----------+--------------------+-------------+----------+-----------------+------------+---------------+----------------+--------------------+
|    ID|SerialNumber|ListYear|        DateRecorded|      Town|             Address|AssessedValue|SaleAmount|       SalesRatio|PropertyType|ResidentialType|      NonUseCode|             Remarks|
+------+------------+--------+--------------------+----------+--------------------+-------------+----------+-----------------+------------+---------------+----------------+--------------------+
|815906|      170177|    2017|04/05/1999 12:00:...|New London|      293 PEQUOT AVE|       132440|    252500|            0.525|        null|     Two Family|            null|                null|
|     2|      900035|    2009|07/20/2010 12:00:...|   Andover|     1 DOGWOOD DRIVE|        55600|     99000|0.561616161616162| Vacant Land|             NA|              NA|                  NA|
|     3|       14011|    2014|01/14/2015 12:00:...|   Andover|     1 JUROVATY LANE|       153100|    190000|      0.805789474| Residential|  Single Family|              NA|                  NA|
|     4|       80009|    2008|01/21/2009 12:00:...|   Andover|         1 ROSE LANE|       116600|    138900|0.839452843772498| Residential|  Single Family|              NA|                  NA|
|     5|       15006|    2015|11/30/2015 12:00:...|   Andover|         1 ROSE LANE|       102900|     50000|            2.058| Residential|  Single Family|14 - Foreclosure|PROPERTY WAS OWNE...|
|     6|       20030|    2002|04/24/2003 12:00:...|   Andover|       10 BAUSOLA RD|        91800|    189900| 48.3412322274881| Residential|  Single Family|               0|                  NA|
|815907|      173165|    2017|08/01/2001 12:00:...|   Shelton|        28 SUNSET DR|       126980|    238000|            0.534|        null|  Single Family|            null|                null|
|     8|       30047|    2003|04/19/2004 12:00:...|   Andover|  10 CHESTER BRKS LN|        56600|     80000|            70.75| Vacant Land|             NA|               0|                  NA|
|     9|       40003|    2004|10/18/2004 12:00:...|   Andover|  10 CHESTER BRKS LN|       194100|    446639| 43.4579156768666| Residential|  Single Family|               7|                  NA|
|    10|       70005|    2007|11/19/2007 12:00:...|   Andover|10 CHESTER BROOKS LN|       313400|    425000|0.737411764705882| Residential|  Single Family|              NA|                  NA|
+------+------------+--------+--------------------+----------+--------------------+-------------+----------+-----------------+------------+---------------+----------------+--------------------+

In [11]:
df.dropna()

DataFrame[ID: string, SerialNumber: string, ListYear: string, DateRecorded: string, Town: string, Address: string, AssessedValue: string, SaleAmount: string, SalesRatio: string, PropertyType: string, ResidentialType: string, NonUseCode: string, Remarks: string]

In [12]:
df1 = df.drop("ID")
df1.show()

+------------+--------+--------------------+----------+--------------------+-------------+----------+-----------------+------------+---------------+----------------+--------------------+
|SerialNumber|ListYear|        DateRecorded|      Town|             Address|AssessedValue|SaleAmount|       SalesRatio|PropertyType|ResidentialType|      NonUseCode|             Remarks|
+------------+--------+--------------------+----------+--------------------+-------------+----------+-----------------+------------+---------------+----------------+--------------------+
|      170177|    2017|04/05/1999 12:00:...|New London|      293 PEQUOT AVE|       132440|    252500|            0.525|        null|     Two Family|            null|                null|
|      900035|    2009|07/20/2010 12:00:...|   Andover|     1 DOGWOOD DRIVE|        55600|     99000|0.561616161616162| Vacant Land|             NA|              NA|                  NA|
|       14011|    2014|01/14/2015 12:00:...|   Andover|     1 JUROVATY LANE|       153100|    190000|      0.805789474| Residential|  Single Family|              NA|                  NA|
|       80009|    2008|01/21/2009 12:00:...|   Andover|         1 ROSE LANE|       116600|    138900|0.839452843772498| Residential|  Single Family|              NA|                  NA|
|       15006|    2015|11/30/2015 12:00:...|   Andover|         1 ROSE LANE|       102900|     50000|            2.058| Residential|  Single Family|14 - Foreclosure|PROPERTY WAS OWNE...|
|       20030|    2002|04/24/2003 12:00:...|   Andover|       10 BAUSOLA RD|        91800|    189900| 48.3412322274881| Residential|  Single Family|               0|                  NA|
|      173165|    2017|08/01/2001 12:00:...|   Shelton|        28 SUNSET DR|       126980|    238000|            0.534|        null|  Single Family|            null|                null|
|       30047|    2003|04/19/2004 12:00:...|   Andover|  10 CHESTER BRKS LN|        56600|     80000|            70.75| Vacant Land|             NA|               0|                  NA|
|       40003|    2004|10/18/2004 12:00:...|   Andover|  10 CHESTER BRKS LN|       194100|    446639| 43.4579156768666| Residential|  Single Family|               7|                  NA|
|       70005|    2007|11/19/2007 12:00:...|   Andover|10 CHESTER BROOKS LN|       313400|    425000|0.737411764705882| Residential|  Single Family|              NA|                  NA|
|       40042|    2004|05/23/2005 12:00:...|   Andover|       10 DOGWOOD DR|       218700|    440000| 49.7045454545455| Residential|  Single Family|               7|                  NA|
|       13021|    2013|06/16/2014 12:00:...|   Andover|  10 HICKORY HILL DR|       109400|    165000|            0.663| Residential|  Single Family|              NA|                  NA|
|       40035|    2004|04/01/2005 12:00:...|   Andover|    10 HICKORY HL DR|        77900|    184000| 42.3369565217391| Residential|  Single Family|               0|                  NA|
|       14044|    2014|09/28/2015 12:00:...|   Andover|   10 PINE RIDGE  DR|       108700|    128368|      0.846784245| Residential|  Single Family|              NA|                  NA|
|       50027|    2005|03/16/2006 12:00:...|   Andover|     10 SHODDY ML RD|        84900|    215000| 39.4883720930233| Residential|  Single Family|               1|                  NA|
|       30063|    2003|07/15/2004 12:00:...|   Andover|       101 GILEAD RD|       104000|    218000|             47.7| Residential|  Single Family|               0|                  NA|
|       14035|    2014|08/10/2015 12:00:...|   Andover|        101 WALES RD|       164000|    230000|      0.713043478| Residential|  Single Family|              NA|                  NA|
|      900008|    2009|12/14/2009 12:00:...|   Andover|      101 WALES ROAD|       186400|    248500| 0.75010060362173| Residential|  Single Family|              NA|                  NA|
|       40650|    2004|08/18/2005 12:00:...|   Andover|       102 GILEAD RD|       111100|    279900| 39.6927474097892| Residential|  Single Family|               0|                  NA|
|       30055|    2003|01/06/2004 12:00:...|   Andover|         104 WEST ST|        52300|    314867|            16.61| Residential|  Single Family|               7|                  NA|
+------------+--------+--------------------+----------+--------------------+-------------+----------+-----------------+------------+---------------+----------------+--------------------+
only showing top 20 rows

In [13]:
distinct_property_type = df1.select("PropertyType").distinct()
distinct_property_type.show()

+--------------+
|  PropertyType|
+--------------+
|    Apartments|
|   Vacant Land|
|            NA|
|   Residential|
|          null|
|    Industrial|
|         Condo|
|Public Utility|
|10 Mill Forest|
|    Commercial|
+--------------+

In [14]:
distinct_property_type.count()

10

In [23]:
df_andover_town = df.filter(df['Town']=='Andover')

In [25]:
df_andover_town.show(30)

+---+------------+--------+--------------------+-------+--------------------+-------------+----------+-----------------+------------+---------------+----------------+--------------------+
| ID|SerialNumber|ListYear|        DateRecorded|   Town|             Address|AssessedValue|SaleAmount|       SalesRatio|PropertyType|ResidentialType|      NonUseCode|             Remarks|
+---+------------+--------+--------------------+-------+--------------------+-------------+----------+-----------------+------------+---------------+----------------+--------------------+
|  2|      900035|    2009|07/20/2010 12:00:...|Andover|     1 DOGWOOD DRIVE|        55600|     99000|0.561616161616162| Vacant Land|             NA|              NA|                  NA|
|  3|       14011|    2014|01/14/2015 12:00:...|Andover|     1 JUROVATY LANE|       153100|    190000|      0.805789474| Residential|  Single Family|              NA|                  NA|
|  4|       80009|    2008|01/21/2009 12:00:...|Andover|         1 ROSE LANE|       116600|    138900|0.839452843772498| Residential|  Single Family|              NA|                  NA|
|  5|       15006|    2015|11/30/2015 12:00:...|Andover|         1 ROSE LANE|       102900|     50000|            2.058| Residential|  Single Family|14 - Foreclosure|PROPERTY WAS OWNE...|
|  6|       20030|    2002|04/24/2003 12:00:...|Andover|       10 BAUSOLA RD|        91800|    189900| 48.3412322274881| Residential|  Single Family|               0|                  NA|
|  8|       30047|    2003|04/19/2004 12:00:...|Andover|  10 CHESTER BRKS LN|        56600|     80000|            70.75| Vacant Land|             NA|               0|                  NA|
|  9|       40003|    2004|10/18/2004 12:00:...|Andover|  10 CHESTER BRKS LN|       194100|    446639| 43.4579156768666| Residential|  Single Family|               7|                  NA|
| 10|       70005|    2007|11/19/2007 12:00:...|Andover|10 CHESTER BROOKS LN|       313400|    425000|0.737411764705882| Residential|  Single Family|              NA|                  NA|
| 11|       40042|    2004|05/23/2005 12:00:...|Andover|       10 DOGWOOD DR|       218700|    440000| 49.7045454545455| Residential|  Single Family|               7|                  NA|
| 12|       13021|    2013|06/16/2014 12:00:...|Andover|  10 HICKORY HILL DR|       109400|    165000|            0.663| Residential|  Single Family|              NA|                  NA|
| 13|       40035|    2004|04/01/2005 12:00:...|Andover|    10 HICKORY HL DR|        77900|    184000| 42.3369565217391| Residential|  Single Family|               0|                  NA|
| 14|       14044|    2014|09/28/2015 12:00:...|Andover|   10 PINE RIDGE  DR|       108700|    128368|      0.846784245| Residential|  Single Family|              NA|                  NA|
| 15|       50027|    2005|03/16/2006 12:00:...|Andover|     10 SHODDY ML RD|        84900|    215000| 39.4883720930233| Residential|  Single Family|               1|                  NA|
| 16|       30063|    2003|07/15/2004 12:00:...|Andover|       101 GILEAD RD|       104000|    218000|             47.7| Residential|  Single Family|               0|                  NA|
| 17|       14035|    2014|08/10/2015 12:00:...|Andover|        101 WALES RD|       164000|    230000|      0.713043478| Residential|  Single Family|              NA|                  NA|
| 18|      900008|    2009|12/14/2009 12:00:...|Andover|      101 WALES ROAD|       186400|    248500| 0.75010060362173| Residential|  Single Family|              NA|                  NA|
| 19|       40650|    2004|08/18/2005 12:00:...|Andover|       102 GILEAD RD|       111100|    279900| 39.6927474097892| Residential|  Single Family|               0|                  NA|
| 20|       30055|    2003|01/06/2004 12:00:...|Andover|         104 WEST ST|        52300|    314867|            16.61| Residential|  Single Family|               7|                  NA|
| 21|       30037|    2003|02/02/2004 12:00:...|Andover|       106 HENDEE RD|       106100|    220000|            48.22| Residential|  Single Family|               0|                  NA|
| 22|       15051|    2015|09/28/2016 12:00:...|Andover|     107 LAKESIDE DR|       188400|    226000|      0.833628319| Residential|  Single Family|              NA|                  NA|
| 23|       20026|    2002|03/04/2003 12:00:...|Andover|     109 LAKESIDE DR|        96700|    146000| 66.2328767123288| Residential|  Single Family|               0|                  NA|
| 25|       13010|    2013|03/17/2014 12:00:...|Andover|    11 CENTER STREET|       130200|    164000|            0.794| Residential|  Single Family|              NA|                  NA|
| 26|       30072|    2003|08/16/2004 12:00:...|Andover|       11 DOGWOOD DR|        45600|    449900|            10.13| Residential|  Single Family|               7|                  NA|
| 27|      100027|    2010|07/11/2011 12:00:...|Andover|    11 DOGWOOD DRIVE|       348600|    450000|0.774666666666666| Residential|  Single Family|              NA|                  NA|
| 28|       40001|    2004|10/12/2004 12:00:...|Andover|      11 SHADBLOW LN|       132800|    381900| 34.7735009164703| Residential|  Single Family|               7|                  NA|
| 29|       14002|    2014|10/28/2014 12:00:...|Andover|          11 WEST ST|        89400|     48000|           1.8625| Residential|  Single Family|              NA|                  NA|
| 30|       50050|    2005|08/07/2006 12:00:...|Andover|      11 WHEELING RD|       116500|    215000| 54.1860465116279| Residential|  Single Family|               6|                  NA|
| 32|       50046|    2005|07/11/2006 12:00:...|Andover|    11 WOOD FERN WAY|        54900|    465000| 11.8064516129032| Residential|  Single Family|               7|                  NA|
| 33|       70019|    2007|04/29/2008 12:00:...|Andover|     111 LAKESIDE DR|       198100|    350000|            0.566| Residential|  Single Family|              NA|                  NA|
| 34|       20037|    2002|05/05/2003 12:00:...|Andover|         112 LAKE RD|            0|    129000|                0| Residential|  Single Family|               0|                  NA|
+---+------------+--------+--------------------+-------+--------------------+-------------+----------+-----------------+------------+---------------+----------------+--------------------+
only showing top 30 rows

In [35]:
# The file is saved with a name part_00_xx.snappy.parquet
df.write.save("blahfolder",format="parquet")

In [15]:
# spark.catalog.clearCache()
spark.stop()